body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #051f20; /* Основной цвет фона */
    color: #DAF1DE; /* Цвет текста */
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #235347; /* Цвет боковой панели */
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.chat-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #163832; /* Цвет области чата */
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #8EB69B; /* Цвет границы */
    margin-bottom: 10px;
    background-color: #051f20; /* Цвет фона сообщений */
}

.message {
    margin: 5px 0;
}

.incoming {
    color: #DAF1DE; /* Цвет входящих сообщений */
}

.outgoing {
    color: #8EB69B; /* Цвет исходящих сообщений */
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #8EB69B; /* Цвет границы полей ввода */
    border-radius: 5px;
    flex: 1;
}

button {
    padding: 10px 20px;
    background-color: #8EB69B; /* Цвет кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #163832; /* Цвет текста кнопки */
}

button:hover {
    background-color: #DAF1DE; /* Цвет кнопки при наведении */
}
